@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 3em;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Inter', sans-serif;
  background-color: rgb(28 27 27);
}

.App {
  max-width: 980px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0 0 .75em;
  font-size: 4rem;
  color: white;
}

h2 {
  margin: .25em 0 .5em;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}
